{% extends 'base.html.twig' %}

{% block title %}MyTOC - TOC{% endblock %}

{% block body %}
    <h1>Trastornos obsesivos-compulsivos (TOC)</h1>
    <a href="{{ path('app_toc_new') }}">Crear nuevo TOC</a>
    <br>
    <div class="container table-responsive">
        <table class="table mx-auto" style="width: auto;">
            <thead class="bg-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Personalizado</th>
                    <th>Creador</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for toc in tocs %}
                {% if toc.customed == false %}
                    <tr>
                        <td>{{ toc.id }}</td>
                        <td>{{ toc.name }}</td>
                        <td class="w-25">{{ toc.description }}</td>
                        <td><img src="/uploads/images/{{ toc.image }}" alt="Imagen del TOC de {{ toc.name }}" width="35" height="auto" style="border-radius: 5px;" /></td>
                        <td>{{ toc.customed ? 'Sí' : 'No' }}</td>
                        <td>{{ toc.creator ? toc.creator.username : '' }}</td>
                        <td class="text-nowrap">
                            <a href="{{ path('app_toc_show', {'id': toc.id}) }}" class="text-primary mr-2"><i class="fa fa-search"></i></a>
                            <a href="{{ path('app_toc_edit', {'id': toc.id}) }}" class="text-warning mr-2"><i class="fa fa-pencil-alt"></i></a>
                            {{ include('toc/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">No hay registros de TOC</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
