{% extends 'base.html.twig' %}

{% block title %}MyTOC - Clínica{% endblock %}

{% block body %}
    <h1>Clínicas</h1>
    <a href="{{ path('app_clinic_new') }}">Crear nueva clínica</a>
    <br>

    <div class="mt-2 mb-4">
        <form class="searching_form d-flex flex-column justify-content-between align-items-center" 
            action="{{ path('app_clinic_index') }}" method="get">
            <div class="d-inline-flex justify-content-between align-items-center">
                <input class="form-control" type="text" name="find" placeholder="Término a buscar" />
                <input class="btn btn-primary ml-2" type="submit" value="Buscar" />
            </div>
            <div class="d-inline-flex justify-content-between align-items-center mt-1">
                <input class="mr-1" type="radio" id="name" name="search" value="name">
                <label class="mr-3" for="name">Por nombre</label>
                <input class="mr-1" type="radio" id="location" name="search" value="location">
                <label for="location">Por localización</label>
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Localización</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for clinic in clinics %}
                <tr>
                    <td>{{ clinic.id }}</td>
                    <td>{{ clinic.name }}</td>
                    <td>{{ clinic.location }}</td>
                    <td>{{ clinic.email ? clinic.email : 'No disponible' }}</td>
                    <td style="width: 140px;">{{ clinic.phone ? clinic.phone : 'No disponible' }}</td>
                    <td><img src="/uploads/images/{{ clinic.image }}" alt="Imagen de la clínica {{ clinic.name }}" width="50" height="auto" style="border-radius: 5px;" /></td>
                    <td style="width: 100px;">
                        <a href="{{ path('app_clinic_show', {'id': clinic.id}) }}" class="text-primary mr-2"><i class="fa fa-search"></i></a>
                        <a href="{{ path('app_clinic_edit', {'id': clinic.id}) }}" class="text-warning mr-2"><i class="fa fa-pencil-alt"></i></a>
                        {{ include('clinic/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay registros de clínicas</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
