{% extends 'base.html.twig' %}

{% block title %}MyTOC - Clínica{% endblock %}

{% block body %}
    <a href="{{ path('app_clinic_index') }}" class="mb-2">Volver</a>
    <h1>Datos de la clínica</h1>
    <img src="/uploads/images/{{ clinic.image }}" alt="Imagen de la clínica {{ clinic.name }}" width="200" height="auto" style="border-radius: 5px;" />
    <br>
    <table class="table w-50">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ clinic.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ clinic.name }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ clinic.description }}</td>
            </tr>
            <tr>
                <th>Localización</th>
                <td>{{ clinic.location }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ clinic.email ? clinic.email : 'No disponible' }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ clinic.phone ? clinic.phone : 'No disponible' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ clinic.url ? clinic.url : 'Sin sitio web' }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ clinic.image }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
