{% extends 'base.html.twig' %}

{% block title %}MyTOC - TOC doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4>Toc</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Request</th>
                <th>Path / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">GET</a>
                </td>
                <td><code class="mx-2">/tocs/{id}</code> Recupera un recurso Toc</td>
            </tr>
            <tr>
                <td class="bg-warning rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">PUT</a>
                </td>
                <td><code class="mx-2">/tocs/{id}</code> Reemplaza el recurso Toc</td>
            </tr>
            <tr>
                <td class="bg-danger rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">DELETE</a>
                </td>
                <td><code class="mx-2">/tocs/{id}</code> Elimina el recurso Toc</td>
            </tr>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">GET</a>
                </td>
                <td><code class="mx-2">/tocs</code> Recupera la colección de recursos Toc</td>
            </tr>
            <tr>
                <td class="bg-success rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">POST</a>
                </td>
                <td><code class="mx-2">/tocs</code> Crea un recurso Toc</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Schemas</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type / Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                <td><code class="mx-2 text-primary">integer</code> El id de este toc</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">creator</td>
                <td><code class="mx-2 text-primary">integer</code> El id del usuario que crea este toc</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">name</td>
                <td><code class="mx-2 text-primary">string</code> El nombre de este toc</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">description</td>
                <td><code class="mx-2 text-primary">string</code> La descripción de este toc</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">image</td>
                <td><code class="mx-2 text-primary">string</code> El nombre de la imagen de este toc</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">customed</td>
                <td><code class="mx-2 text-primary">boolean</code> Estado de personalización de este toc</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Ejemplo JSON de toc</h4>
    <br>
    <div class="container w-50">
        {# {{ tocs[0]|serialize(format = 'json') }}   NO VA #}
    </div>
{% endblock %}
