{% extends 'base.html.twig' %}

{% block title %}MyTOC - Comment doc{% endblock %}

{% block body %}
    <h1>API doc</h1>
    <h4>Comment</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Request</th>
                <th>Path / Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_comment_get_one', {'id': '1'}) }}">GET</a>
                </td>
                <td><code class="mx-2">/api/comment/{id}</code> Recupera un recurso Comment</td>
            </tr>
            <tr>
                <td class="bg-warning rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main_doc_comment') }}">PUT</a>
                </td>
                <td><code class="mx-2">/api/comment/{id}</code> Reemplaza el recurso Comment</td>
            </tr>
            <tr>
                <td class="bg-danger rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main_doc_comment') }}">DELETE</a>
                </td>
                <td><code class="mx-2">/api/comment/{id}</code> Elimina el recurso Comment</td>
            </tr>
            <tr>
                <td class="bg-primary rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_api_comment_get_all') }}">GET</a>
                </td>
                <td><code class="mx-2">/api/comment</code> Recupera la colección de recursos Comment</td>
            </tr>
            <tr>
                <td class="bg-success rounded mx-auto d-block">
                    <a class="nav-link text-white text-center p-0" href="{{ path('app_main_doc_comment') }}">POST</a>
                </td>
                <td><code class="mx-2">/api/comment</code> Crea un recurso Comment</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Schemas</h4>
    <br>
    <table class="table w-50">
        <thead>
            <tr>
                <th>Field</th>
                <th>Type / Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">id</td>
                <td><code class="mx-2 text-primary">integer</code> El id de este comentario</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">author</td>
                <td><code class="mx-2 text-primary">integer</code> El id del usuario que crea este comentario</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">thread</td>
                <td><code class="mx-2 text-primary">integer</code> El id del thread al que pertenece este comentario</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">text</td>
                <td><code class="mx-2 text-primary">string</code> El texto o contenido de este comentario</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">date</td>
                <td><code class="mx-2 text-primary">string($date-time)</code> La fecha de publicación de este comentario</td>
            </tr>
            <tr>
                <td class="bg-secondary text-white text-center h5 mx-auto d-block">visible</td>
                <td><code class="mx-2 text-primary">boolean</code> Estado de visibilidad de este comentario</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>Ejemplo JSON de comment</h4>
    <br>
    <div class="container w-50">
        <code class="mx-6">{</code><br>
        <code class="mx-6">&nbsp;&nbsp; "id": 1,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "text": "Yo también siento que el orden es muy importante...",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "date": "2025-03-05T10:15:00+01:00",</code><br>
        <code class="mx-6">&nbsp;&nbsp; "visible": true,</code><br>
        <code class="mx-6">&nbsp;&nbsp; "author": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 4,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "username": "dario",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER"</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$xeRpHpO6yrl.mvtmtZO4quVK5Ci9yts7Nf1NXwEb5l6YqbfgsGf/6",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "email": "dario@gmail.com",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "image": "dario-67d84fce1cb5b.png",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
        <code class="mx-6">&nbsp;&nbsp; },</code><br>
        <code class="mx-6">&nbsp;&nbsp; "thread": {</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "id": 1,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "title": "Estoy obsesionada con el orden de mi armario",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "date": "2025-03-04T22:39:33+01:00",</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "visible": true,</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; "author": {</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "id": 5,</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "username": "esmeralda",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "roles": &#91;</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "ROLE_USER"</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#93;,</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "password": "$2y$13$d97UHJ6u3w5bAKFNq9Prv.LcD1g7pf3raQBaoP2yS/zfkijtVavJe",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "email": "esmeralda@gmail.com",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "image": "esmeralda-67d84ffe26e10.png",</code><br>
                <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "banned": false</code><br>
            <code class="mx-6">&nbsp;&nbsp;&nbsp;&nbsp; }</code><br>
        <code class="mx-6">&nbsp;&nbsp; }</code><br>
        <code class="mx-6">}</code>
    </div>
{% endblock %}
