{% extends 'base.html.twig' %}

{% block title %}MyTOC - Inicio{% endblock %}

{% block body %}
    {% if app.user %}
        {# --------------------------------- A D M I N   V I E W --------------------------------- #}
		{% if 'ROLE_ADMIN' in app.user.roles %}
            <h1>Dashboard</h1>
            <h4 style="font-size: 1.1rem;">Almacenamiento / gestión de la base de datos de MyTOC</h4>
            <br>
            <table class="table w-50">
                <thead class="text-center" style="background-color: #f5f5f5;">
                    <tr>
                        <th>Datos almacenados</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td><a href="{{ path('app_user_index') }}">Ver / gestionar usuarios</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_toc_index') }}">Ver / gestionar tipos de TOC</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_clinic_index') }}">Ver / gestionar clínicas</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_event_index') }}">Ver / gestionar eventos</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_thread_index') }}">Ver / gestionar threads</a></td>
                    </tr>
                    <tr>
                        <td><a href="{{ path('app_comment_index') }}">Ver / gestionar comentarios</a></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% else %}
		<img src="./images/showcase.png" alt="Logotipo de MyTOC" width="auto" height="300" />
	{% endif %}
{% endblock %}
