{% extends 'base.html.twig' %}

{% block title %}MyTOC - Inicio{% endblock %}

{% block body %}
    {% if app.user %}
        {# --------------------------------- V I S T A   A D M I N --------------------------------- #}
		{% if 'ROLE_ADMIN' in app.user.roles %}
            <h1>Dashboard</h1>
            <h4>Endpoints accesibles y almacenamiento / gestión de la base de datos MyTOC</h4>
            <br>
            <table class="table w-50">
                <thead>
                    <tr>
                        <th>Endpoint</th>
                        <th>Enlace</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-primary rounded mx-auto d-block">
                            <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">/api/user</a>
                        </td>
                        <td><a href="{{ path('app_user_index') }}">Ver / gestionar usuarios</a></td>
                    </tr>
                    <tr>
                        <td class="bg-danger rounded mx-auto d-block">
                            <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">/api/toc</a>
                        </td>
                        <td><a href="{{ path('app_main') }}">Ver / gestionar tipos de TOC</a></td>
                    </tr>
                    <tr>
                        <td class="bg-success rounded mx-auto d-block">
                            <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">/api/clinic</a>
                        </td>
                        <td><a href="{{ path('app_clinic_index') }}">Ver / gestionar clínicas</a></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary rounded mx-auto d-block">
                            <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">/api/thread</a>
                        </td>
                        <td><a href="{{ path('app_main') }}">Ver / gestionar threads</a></td>
                    </tr>
                    <tr>
                        <td class="bg-warning rounded mx-auto d-block">
                            <a class="nav-link text-white text-center p-0" href="{{ path('app_main') }}">/api/comment</a>
                        </td>
                        <td><a href="{{ path('app_main') }}">Ver / gestionar comentarios</a></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    {% else %}
		<img src="./images/showcase.png" alt="Logotipo de MyTOC" width="auto" height="300" />
	{% endif %}
{% endblock %}
