{% extends 'base.html.twig' %}

{% block title %}MyTOC - Thread{% endblock %}

{% block body %}
    <h1>Threads / Hilos</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Fecha</th>
                    <th>Visible</th>
                    <th>Autor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for thread in threads %}
                <tr>
                    <td>{{ thread.id }}</td>
                    <td class="w-25">{{ thread.title }}</td>
                    <td>{{ thread.date ? thread.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ thread.visible ? 'Sí' : 'No' }}</td>
                    <td>{{ thread.author ? thread.author.username : '' }}</td>
                    <td>
                        <a href="{{ path('app_thread_show', {'id': thread.id}) }}" class="text-primary mr-2"><i class="fa fa-search"></i></a>
                        <a href="{{ path('app_thread_edit', {'id': thread.id}) }}" class="text-warning mr-2"><i class="fa fa-pencil-alt"></i></a>
                        {{ include('thread/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No hay registros de threads</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
