{% extends 'base.html.twig' %}

{% block title %}MyTOC - Thread{% endblock %}

{% block body %}
    <a href="{{ path('app_thread_index') }}" class="mb-2">Volver</a>
    <h1>Datos del thread / hilo</h1>
    <table class="table w-50">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ thread.id }}</td>
            </tr>
            <tr>
                <th>Título</th>
                <td data-testid="thread-title">{{ thread.title }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ thread.date ? thread.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ thread.visible ? 'Sí' : 'No' }}</td>
            </tr>
            <tr>
                <th>Autor</th>
                <td>{{ thread.author ? thread.author.username : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
