<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyTOC - Bienvenido{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <!-- CDN to be able to use "Font Awesome" icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-lg mb-4" 
            style="background-image: linear-gradient(#2ABF7A, #1F8F5B);">
            <div class="container-fluid">
                {# Brand and toggle button #}
                <a class="navbar-brand font-weight-bold text-body pr-4 lg-border-right" 
                    href="{{ path('app_main') }}">MyTOC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {# Collapsible menu #}
                <div id="mainNavbar" class="collapse navbar-collapse">
                {% if app.user %}
                    {# Left nav links #}
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a id="dashboard-link" class="nav-link text-dark font-weight-bold" 
                                href="{{ path('app_main') }}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_user_index') }}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_toc_index') }}">TOC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_clinic_index') }}">Clínicas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_event_index') }}">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_thread_index') }}">Threads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_comment_index') }}">Comentarios</a>
                        </li>
                    </ul>
                    {# User/logout block on the right #}
                    <ul class="navbar-nav">
                        <li id="li-username" class="nav-item d-flex align-items-center">
                            <span id="username" class="navbar-text text-dark font-weight-bold pr-2" 
                                style="font-size: 1.2rem; margin-bottom: 5px">
                                {{ app.user.username }}
                            </span>
                            <img src="/uploads/images/{{ app.user.image }}" alt="Imagen de perfil" 
                                class="rounded-circle mr-2" style="width: 50px; height: auto;">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_logout') }}">Cerrar sesión</a>
                        </li>
                    </ul>
                {% else %}
                    {# If not logged in, just show login/register on the right #}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_login') }}">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_register') }}">Registrarse</a>
                        </li>
                    </ul>
                {% endif %}
                </div>
            </div>
        </nav>

        <div class="container-fluid d-flex flex-column justify-content-center align-items-center bg-white p-5">
            {# Reads and displays all flash messages with a different style depending on their label #}
            {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
                {% for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {# Content of each template's view #}
            {% block body %}{% endblock %}
		</div>

        {% block javascripts %}
            {% block importmap %}
            {# {{ importmap('app') }} #}
                <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha512-Ua/7Woz9L5O0cwB/aYexmgoaD7lw3dWe9FvXejVdgqu71gRog3oJgjSWQR55fwWx+WKuk8cl7UwA1RS6QCadFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script src="/js/bootstrap.min.js"></script>
                {# This script makes scrolling slower when clicking on internal links #}
                <script>
                    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                        anchor.addEventListener('click', function (e) {
                            e.preventDefault();

                            document.querySelector(this.getAttribute('href')).scrollIntoView({
                                behavior: 'smooth'
                            });
                        });
                    });
                </script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
