{% extends 'base.html.twig' %}

{% block title %}MyTOC - Comentario{% endblock %}

{% block body %}
    <h1>Comentarios</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Texto</th>
                    <th>Fecha</th>
                    <th>Visible</th>
                    <th>Autor</th>
                    <th>Thread/hilo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td class="w-25">{{ comment.text }}</td>
                    <td style="width: 150px;">{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ comment.visible ? 'Sí' : 'No' }}</td>
                    <td>{{ comment.author ? comment.author.username : '' }}</td>
                    <td class="w-25">{{ comment.thread ? comment.thread.title : '' }}</td>
                    <td style="width: 100px;">
                        <a href="{{ path('app_comment_show', {'id': comment.id}) }}" class="text-primary mr-2"><i class="fa fa-search"></i></a>
                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="text-warning mr-2"><i class="fa fa-pencil-alt"></i></a>
                        {{ include('comment/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No hay registros de comentarios</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
