{% extends 'base.html.twig' %}

{% block title %}MyTOC - Usuario{% endblock %}

{% block body %}
    <h1>Datos del usuario {{ user.username }}</h1>
    <img src="/uploads/images/{{ user.image }}" alt="Imagen de perfil de {{ user.username }}" width="200" height="auto" style="border-radius: 5px;" />
    <br>
    <table class="table w-50">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ user.image }}</td>
            </tr>
            <tr>
                <th>Banned</th>
                <td>{{ user.banned ? 'Sí' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_user_index') }}">Volver</a>
{% endblock %}
